
/// ===============
//variable site web
/// ================

$couleurBackground :#EDEDED;
$CouleurPrimary: #1B1B1B;
$CouleurSecondary: #7A7A7A;
$CouleurTertiary: #FFD15B;

$familyFontTitle: anton; 
$familyFontText: manrope; 

@mixin list-styles {
    display: flex;
    align-items: center;
    background-color: #FFF;
    height: 32px;
    color: $CouleurPrimary;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 16px 8px 16px;
  }

@mixin pinElement {
    display: flex;
    align-items: center;
    height: 32px;
    color: $CouleurPrimary;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 16px 8px 16px;
}


/// ================
/// général
/// ================

body {
    background-color:$couleurBackground;
    max-width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
} 

.recipe-section {
    margin: 80px 102px 201px 102px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;  
}

/// ================
/// Header
/// ================

.header {
    position: relative;
    background-image: url(../assets/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png);
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
    &__message-error {
        color: red;
        font-family: $familyFontText;
        font-size: 12px; 
        margin: 0;
    }
    &__logo {
        position: absolute;
        top: 4.8%;
        left: 4.8%;
    }
    &__title {
        width: 62%;
        color: $CouleurTertiary;
        font-family: $familyFontTitle;
        text-align: center;
        font-size: 44px; 
        margin: 0;
    }
    &__search-bar {
        position: relative;
        &__imput {
            width: 954px;
            height: 72px;
            border-radius: 10px;
            padding-left: 30px;
            font: 400 16px $familyFontText;
            color: $CouleurSecondary;  
        }
        &__button {
            position: absolute;
            top: 12px;
            right: 12px;
            background-color: $CouleurPrimary;
            border-radius: 10px;
            border: none;
            width: 52px;
            height: 52px;
            cursor: pointer;
        }
    }
}

/// ================
/// menu filter 
/// ================

 .menu-filter {
    display: flex;
    justify-content: space-between;
    margin: 40px 102px;
    &__container-filter {
        position: relative;
        display: flex;
        gap: 63px;
        &__menu {
            width: 195px;
            max-height: 500px;
            display: flex;
            flex-direction: column;
            &__group { 
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 33px;
                background: #FFF;
                border-radius: 11px;                
                padding: 17px 16px 17px 16px;
                cursor: pointer;
                &.menu-clicked {
                    img {
                        transform: rotate(180deg);
                    }
                    &~form {
                        display: block;
                    }
                    &~div {
                        display: block;
                    }
                }
                &__content{
                    margin: 0;
                    color: $CouleurPrimary;
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                }
                &__arrow {
                    stroke: $CouleurPrimary;
                    width: 20px;
                    height: 12px;
                    transform: rotate(0deg);
                }
            }
            & form {
                position: relative;
                background: #FFF;
                height: 50px;
                border-radius: 0px 0px 11px 11px; 
                padding: 13px 16px 13px 16px;
                display: none;
            }
            & input {
                width: 155px;
                height: 40px;
                border-radius: 2px;
                border: 1.5px solid #c6c6c6;
            }
            & button {
                background-color: transparent;
                border: none;
                position: absolute;
                right: 30px; 
                top: 25px;
                cursor: pointer; 
                padding: 0;
            }
            &__section-pin-ingredients,
            &__section-pin-appliance,
            &__section-pin-ustensils {
                display: none;
                width: 195px;
                background-color: #FFD15B;
                &__pinElement{
                    @include pinElement; 
                }
            }   
            &__list-ingredients,
            &__list-appareils,
            &__list-ustensiles {
                display: none;
                width: 195px;
                border-radius: 11px;
                overflow-y: scroll;
                &__ingredients,
                &__appliance,
                &__ustensils {
                @include list-styles; 
                }
            }
        }
    }
    &__recipe-count {
        position: relative;
        top: 10px;
        color: $CouleurPrimary;
        font-family: Anton;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        }
 }
 

 .display-none{
    display: none;
 }
 .section-tag {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 102px;
    gap: 50px;

 }

.tag {
    position: relative;
    width: 203px;
    height: 32px;
    background-color: $CouleurTertiary;
    color: $CouleurPrimary;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 17px 18px;
    align-items: center;
    gap: 60px;
    border-radius: 10px ;
  }

.border-Menu-tag-select {
    border-color: $CouleurTertiary;
}

 .rotate-arrow {
    transform: rotate(0deg);
 }

/// ================
/// card recipe
/// ================

.recipe-card {
    position: relative;
    background: #FFF;
    width: 100%;
    height: 731px; 
    border-radius: 21px;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    &__image{
        width: 100%;
        height: 253px; 
        border-radius: 21px 21px 0px 0px;
        object-fit: cover;
    }   
    &__container {
        margin: 32px 25px 61px 25px;
        h2 {
            color: $CouleurPrimary;
            font-family: Anton;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 1.08px;
            text-transform: uppercase;
            margin-bottom: 32px;
            
        }
        &__description {
            h3 {
                color: $CouleurSecondary;
                font-family: Manrope;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 1.08px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            &__recipe {
                color: $CouleurPrimary;
                font-family: Manrope;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 32px;
                text-align: justify;
                max-height: 76px;
                overflow: auto;
            }
            &__ingredients {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                &__container {
                    &__name {
                        color: $CouleurPrimary;
                        font-family: Manrope;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                    }
                    &__description {
                        color: $CouleurSecondary;
                        font-family: Manrope;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    &__time-container {
        position: absolute;
        top: 21px;
        right: 22px;
        background-color: $CouleurTertiary;
        width: 33px;
        height: 16px;
        border-radius: 8px;
        padding: 5px 15px;
        justify-content: center;
        align-items: center;
        &__time {
            color: $CouleurPrimary;
            text-align: center;
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
        }
    }
}