
/// ===============
//variable site web
/// ================

$couleurBackground :#EDEDED;
$CouleurPrimary: #1B1B1B;
$CouleurSecondary: #7A7A7A;
$CouleurTertiary: #FFD15B;

$familyFontTitle: anton; 
$familyFontText: manrope; 



/// ================
/// général
/// ================

body {
    overflow: hidden; 
    background-color:$couleurBackground;
} 


/// ================
/// Header
/// ================

.header {
    position: relative;
    background-image: url(../assets/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png);
    width: 1440px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
    
    &__logo {
        position: absolute;
        top: 4.8%;
        left: 4.8%;
    }
    &__title {
        width: 62%;
        color: #FFD15B;
        font-family: $familyFontTitle;
        text-align: center;
        font-size: 44px; 
        margin: 0;
    }
    &__search-bar {
        position: relative;
        &__imput {
            width: 954px;
            height: 72px;
            border-radius: 10px;
            padding-left: 30px;
            font: 400 16px $familyFontText;
            color: $CouleurSecondary;  
        }
        &__button {
            position: absolute;
            top: 12px;
            right: 12px;
            background-color: $CouleurPrimary;
            border-radius: 10px;
            border: none;
            width: 52px;
            height: 52px;
            cursor: pointer;
        }
    }
}

